<div id="form_wrapper">
	<h3>Drop me a line</h3>
	<%= form_tag({controller: "main", action: "email_me"}, id: "contact_me", remote: "true") do %>
		<div>
			<%= text_field_tag(:name, nil, :placeholder => "Name") %>
		</div>
		<div>
			<%= text_field_tag(:email, nil, :placeholder => "email@example.com") %>
		</div>
		<div>
			<%= text_area_tag(:text, nil, :placeholder => "What's on your mind?")%>
		</div>
	
		<%= submit_tag("Say Hello!", id: "submit_email")%>
	<% end %>
</div>

