<div id="main_container">
	<div id="nav">
		<ul id="options">
			<li id="work"><%= image_tag("rulers.png") %><h1>recent work</h1></li>
			<li id="bio"><%= image_tag("person.png") %><h1>bio</h1></li>
			<li id="contact"><%= image_tag("email.png") %><h1>contact</h1></li>
			<li id="code"><%= image_tag("collection.png")%><h1>code library</h1></li>
		</ul>
		<div id="logo">
			<%= image_tag("logo_3.png", size: "100x100", mouseover: "logo_4.png") %>
		</div>
	</div>
	<div id="sliders">
		<div class="slide_box" id="work_slide">
			<h2>A Simple Selection</h2>
			<p>I usually have a handful of different projects going at once, ranging from strictly professional to purely pleasurable. Be it helping a client grow their business, or hacking away with friends on the next world-beating application, I'm never happier than when I'm creating. Here are a few of my recent favorites.</p>
		</div>
		<div class="slide_box" id="bio_slide">
			<h2>Me? You want to know me?</h2>
			<p>I grew up in sunny Boulder, CO and attended the CU Boulder for my undergraduate degree in Economics. After graduating, I began teaching myself programming and software engineering. I love what I do, working currently as a freelancer, but hope to work on a longer term project in the future.
		</div>
		<div class="slide_box" id="contact_slide">
			<h2>I'll hit you with my digits</h2>
			<p>I love chatting with just about anyone, so if you'd like to get in touch, please don't hesitate. I keep my social networks up to date, and I check email daily. I'm of course interested in new work projects, but even you're just a new developer looking for some direction in the dark of night, please feel free to say hi!
		</div>
		<div class="slide_box" id="code_slide">
			<h2>Need a little help?</h2>
			<p>Given the rise of SAAS technologies, I've recently turned my focus towards improving my JS and jQuery skills for front end development, and RoR for the back end. Here are some snippets of mine which others might find potentially useful. If something here helps you out, please consider making a donation.
		</div>
	</div>
	<%= image_tag("me.png", id: :photo) %>
	
	<div id="header">
		<h1>the blog</h1>
	</div>
	
	<div id="blog_container">
		<%= render 'blog' %>
	</div>
	
	<div id="work_container" class="info_container" hidden="true">
		<%= render 'recent_work' %>
	</div>
	
	<div id="bio_container" class="info_container" hidden="true">
		<%= render 'bio'%>
	</div>
	
	<div id="contact_container" class="info_container" hidden="true">
		<%= render 'contact' %>
	</div>
	
	<div id="code_container" class="info_container" hidden="true">
		<%= render 'code_library' %>
	</div>
</div>